@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC:400,400i,700,700i,900,900i&subset=latin-ext');

$quote-color: white;
$h-font: 'Playfair Display SC', serif;
$font: "Open Sans", sans-serif;
$slide-nav: #25283D;



%background {
    background-size: cover !important;
    background-position: 50% 80% !important;
}


h1 {
    font-family: $h-font;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}

.slide-nav {
    background: $slide-nav;
    height: 50px;
    line-height: 50px;
    text-align: center;
    //display:flex;
    //flex-wrap: wrap;
    a {
        color: $quote-color;
        text-decoration: none;
        padding: 0 20px;
        
    }
}

.carousel-cell  {
    width: 100vw; /* full width */
    min-height: 250px; /* height of carousel */
    height: 50vh;
    margin-right: 5px;
  }

.container{
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
    background: rgba(0,0,0,0.3);
    h1 {
        color: $quote-color;
    }
    h5 {
        color: $quote-color;
        text-align: right;
        font-size: 1.5em;
        font-weight: 100;
        padding-right: 30px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
} 

.progress-bar {
    height: 15px;
    width: 0;
    background: $slide-nav;
}

.reset {
    background: #25283D;
    color: white;
    font-family: "Open Sans", sans-serif;
    border-radius: 50%;
    border: none;
    height: 44px;
    font-size: 1em;
    //margin: 15px;
    position: absolute;
    top: 15%;
    right: 1%;
}


@media (max-width: 500px) {
    h1 {
        font-size: 1.4em;   
    }
    h5 {
        font-size: 1em !important;
    }

    .slide-nav a {
        padding: 0 6px;
        font-size: 0.8em;
    }
}